*
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body
{
	background: #f1ece7;
	position: relative;
	margin: auto;
}

header
{
	width: 100%;
	position: fixed;
	z-index:1;
	margin-bottom: 30px;
}

header #backPrimeiraNav
{
	background: #f1ece7;
}

header #primeiraNav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 1350px;
	padding:0 10px;
}

header #primeiraNav #categorias
{
	display: flex;
	list-style-type: none;
}

header #primeiraNav #categorias li
{
	display: flex;
	align-items: center;
	color: rgb(204, 204, 204);
	font-size: 13px;
	/*padding: 3px 10px 10px 10px;*/
}

header #primeiraNav #categorias li a
{ 
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	border-top: 2px solid transparent;
	padding: 10px 4px 12px 4px;

}

header #primeiraNav #categorias #categoria_1 a
{
	color: #015f9e;
	padding: 10px 4px 12px 0px;
}

header #primeiraNav #categorias #categoria_2 a
{
	color: #a80000;
}

header #primeiraNav #categorias #categoria_3 a
{
	color: #3e831e;
}

header #primeiraNav #categorias #categoria_4 a
{
	color: #ff7f00;
}

header #primeiraNav #categorias #categoria_5 a
{
	color: #005cef;
}

header #primeiraNav #categorias #categoria_1 a:hover
{
	color: #669dc2;
}

header #primeiraNav #categorias #categoria_2 a:hover
{
	border-top: 2px solid #a80000;
}

header #primeiraNav #categorias #categoria_3 a:hover
{
	border-top: 2px solid #3e831e;
}

header #primeiraNav #categorias #categoria_4 a:hover
{
	border-top: 2px solid #ff7f00;
}

header #primeiraNav #categorias #categoria_5 a:hover
{
	border-top: 2px solid #005cef;
}

header #primeiraNav #menu
{
	display: flex;
}

header #primeiraNav #menu li
{
	list-style-type: none;
}

header #primeiraNav #menu a #rotacao
{
	display: inline-block;
	font-weight: bold;
	transform: rotate(90deg);
}

header #primeiraNav #menu li a
{
	font-size: 15px;
	color: #999;
	transition: color 150ms ease-in-out;
    transition-property: color;
	text-transform: uppercase;
	padding: 15px 12px 13px 4px;
	text-decoration: none;
	font-size: 12px;
}

header #primeiraNav #menu li .aHoverAzul:hover
{
	color: blue;
}

header #primeiraNav #menu li #entrarBtn
{
	text-transform: uppercase;
	padding: 2px;
	background: rgb(250, 249, 249);
	border-top: 1px solid rgb(226, 220, 220);
	border-left: 1px solid rgb(226, 220, 220);
	border-right: 1px solid rgb(226, 220, 220);
	border-bottom: 2px solid rgb(226, 220, 220);
}

header #primeiraNav #menu li #entrarBtn:hover
{
	background: rgb(255, 255, 255);
}


header #backSegundaNav
{
	background: #C4170C;
}
header #segundaNav
{
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding:0 10px;
	max-width: 1350px;
	height: 74px;
	line-height: 74px;
}

header #segundaNav #iconeG1
{
	position: absolute;
	left: 47%;
}
header #segundaNav a #cor-primaria
{
	color: #fff;
	margin-top: 22px;
}

header #segundaNav #menuSegundoNav
{
	display: flex;
	align-items: center;
	text-decoration: none;
}
header #segundaNav #menuSegundoNav #iconeMenu
{
	color: white;
	font-size: 25px;
}

header #segundaNav #menuSegundoNav #textoMenu
{
	display: inline;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}

header #segundaNav #buscarBtn
{
	color: white;
	align-items: center;
	display: flex;
}

header #segundaNav #buscarBtn #inputBuscarBtn
{
	display: flex;
	width: 129px;
	height: 33px;
	border: none;
	background: rgba(161, 38, 29, 0.911);
	color: white;
	border-radius: 0 5px 5px 0;
	transition-property: width;
    transition-duration: 0.25s;
	transition-timing-function: linear;
}

header #segundaNav #buscarBtn #inputBuscarBtn:focus
{
	border-color: none;
	outline: none;
}

header #segundaNav #buscarBtn #inputBuscarBtnExpandido
{
	width: 200px;
	height: 33px;
	border: none;
	background: white;
	color: black;
	border-radius: 0 5px 5px 0;
	transition-property: width;
    transition-duration: 0.25s;
	transition-timing-function: linear;
}

header #segundaNav #buscarBtn #inputBuscarBtnExpandido:focus
{
	border-color: none;
	outline: none;
}


header #segundaNav #buscarBtn .placeInputBuscarBtnBranco::-webkit-input-placeholder 
{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: white; 
}

header #segundaNav #buscarBtn .placeInputBuscarBtnCinza::-webkit-input-placeholder 
{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(116, 111, 111); 
}
  
header #segundaNav #buscarBtn #iconeBuscar
 {
	background: rgba(161, 38, 29, 0.911);
	width: 30px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 0 0 5px;
	font-size: 25px;
 }

 header #segundaNav #buscarBtn #iconeBuscarExpandido
 {
	background: white;
	width: 30px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 0 0 5px;
	font-size: 25px;
	color: rgb(116, 111, 111); 
 }

 header #segundaNav #buscarBtn #iconeBuscarTelaPequena
{
	background: red(161, 38, 29, 0.911);
	width: 30px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 0 0 5px;
	font-size: 25px;
}


