main
{
    max-width: 1200px;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
}

main #banner
{
    display: flex;
}

main #banner a
{
    text-decoration: none;
}

main #banner #PrimeiroBanner
{
    height: 600px;
    width: 592.5px;
    background: rgb(175, 90, 90);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(221, 220, 220);
}

main #banner #PrimeiroBanner:hover #imgPrimeiroBanner #textosBanner h1
{
    color: #a80000;
}

main #banner #PrimeiroBanner #imgPrimeiroBanner
{
    background: white;
    height: 600px;
    width: 592.5px;
    max-width: 100%;
}

main #banner #PrimeiroBanner #imgPrimeiroBanner #textosBanner
{
    padding: 25px;
}

main #banner #PrimeiroBanner #imgPrimeiroBanner #textosBanner h3
{
    color: rgb(133, 130, 130);
    font-size: 17px;
}

main #banner #PrimeiroBanner #imgPrimeiroBanner #textosBanner h1
{
    font-size: 40px;
    color:#c4170c;
    margin-top: 200px;
    font-weight: bold;
}

main #banner #PrimeiroBanner #imgPrimeiroBanner #textosBanner ul
{
    margin-top: 20px;
    margin-left: 17px;
    color: rgb(71, 69, 69);
}




main #banner #SegundoBanner
{
    height:292.5px;
    width: 592.5px;
    background: rgb(175, 90, 90);
    color: white;
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
}

main #banner #SegundoBanner #imgSegundoBanner
{
    background: url("../imagens/Banners/Santos.jpg");
    height: 292.5px;
    width: 592.5px;
    max-width: 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function:linear;
    background-position: center;
    transform: scale(1.1);
}

main #banner #SegundoBanner #imgSegundoBanner:hover
{
    transform: scale(1.2);
}

main #banner #SegundoBanner #imgSegundoBanner #textosBanner
{
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function:linear;
    padding: 10%;
}
main #banner #SegundoBanner #imgSegundoBanner:hover #textosBanner
{
    padding-top: 10%;
    padding-left: 9.7%;
    transform: scale(0.91);
}

main #banner #SegundoBanner #imgSegundoBanner #textosBanner h1
{
    margin-top: 120px
}





main #banner #TerceiroBanner
{
    margin-top: 15px;
    height: 292.5px;
    width: 592.5px;
    background: rgb(175, 90, 90);
    color: white;
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
}

main #banner #TerceiroBanner #imgTerceiroBanner
{
    background: url("../imagens/Banners/jogo.jpg");
    height: 292.5px;
    width: 592.5px;
    max-width: 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function:linear;
    background-position: center;
    transform: scale(1.1);
}

main #banner #TerceiroBanner #imgTerceiroBanner:hover
{
    transform: scale(1.2);
}

main #banner #TerceiroBanner #imgTerceiroBanner #textosBanner
{
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function:linear;
    padding: 10%;
}
main #banner #TerceiroBanner #imgTerceiroBanner:hover #textosBanner
{
    padding-top: 10%;
    padding-left: 9.7%;
    transform: scale(0.91);
}

main #banner #TerceiroBanner #imgTerceiroBanner #textosBanner h1
{
    margin-top: 120px;
}




main #banner #segundoTerceiroBanner
{
    margin-left: 15px;
}
