*
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header #primeiraNav
{
	background: #FFFAF0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header #primeiraNav #categorias
{
	display: flex;
	list-style-type: none;
	margin-left: 10px;
}

header #primeiraNav #categorias li
{
	/*padding: 3px 10px 10px 10px;*/
}

header #primeiraNav #categorias li a
{ 
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-top: 3px solid transparent;
	padding: 10px 10px;

}

header #primeiraNav #categorias #categoria_1 a
{
	color: blue;
}

header #primeiraNav #categorias #categoria_2 a
{
	color: red;
}

header #primeiraNav #categorias #categoria_3 a
{
	color: green;
}

header #primeiraNav #categorias #categoria_4 a
{
	color: orange;
}

header #primeiraNav #categorias #categoria_5 a
{
	color: blue;
}

header #primeiraNav #categorias #categoria_1 a:hover
{
	border-top: 3px solid blue;
}

header #primeiraNav #categorias #categoria_2 a:hover
{
	border-top: 3px solid red;
}

header #primeiraNav #categorias #categoria_3 a:hover
{
	border-top: 3px solid green;
}

header #primeiraNav #categorias #categoria_4 a:hover
{
	border-top: 3px solid orange;
}

header #primeiraNav #categorias #categoria_5 a:hover
{
	border-top: 3px solid blue;
}

header #primeiraNav #menu
{
	display: flex;
}

header #primeiraNav #menu li
{
	list-style-type: none;
	font-size: 15px;
	color:#B5B5B5;
}

